- @products.each do |product|
  .pickup__items-item
    .pickup__items-item-picture
      = link_to product_path(product, id: product.id) do
        = image_tag "notepc.svg", size: "212x200", alt: "カテゴリ"
    .pickup__items-item-name
      = product.name
    .pickup__items-item-outline
      .pickup__items-item-outline_price
        = product.price
      .pickup__items-item-outline_likes
        = fa_icon 'heart', class: 'likes-icon'
    .pickup__items-item_tax
      （税込）
