= render "shared/header"
.pickup
  %h2 商品一覧
  .pickup__items
    = render "shared/pickup"
  = paginate(@products)
.category
  .category__name カテゴリ名
  .category__namedescription 説明文
#main_visual
  .main_visual_in
    %div
      = image_tag "logo.svg", alt: "s1"
    %div
      = image_tag "banner-camp.jpg", alt: "s2"
    %div
      = image_tag "banner-natsukashi.jpg", alt: "s3"
= render "shared/banner"
= render "shared/footer"
= render 'shared/sell_btn'
