= render "shared/header"
.product
  = render 'shared/mypage_sidebar'
  .product-container
    .product__title
      = @product.name
    .product-wrapper
      .product__picture
        .product__picture--main
        .product__picture--sub-container
          .product__picture--sub
          .product__picture--sub
          .product__picture--sub
          .product__picture--sub
          .product__picture--sub
          .product__picture--sub
      .product__detail
        .product__detail--pack
          .product__detail--left 出品者
          .product__detail--right
            = @exhibituser.kanji_name
        .product__detail--pack
          .product__detail--left カテゴリー
          .product__detail--right
            = @category.name
        .product__detail--pack
          .product__detail--left ブランド
          .product__detail--right
            = @bland.name
        .product__detail--pack
          .product__detail--left 商品の状態
          .product__detail--right
            = @product.product_quality
        .product__detail--pack
          .product__detail--left 送料の負担
          .product__detail--right
            = @product.price
        .product__detail--pack
          .product__detail--left 配送の方法
          .product__detail--right
            = @product.shipping_way[0]
        .product__detail--pack
          .product__detail--left 発送元地域
          .product__detail--right
            = @product.shipping_place
        .product__detail--pack
          .product__detail--left 発送日の目安
          .product__detail--right
            = @product.shipping_date[0]
    .product__price-box
      .product__price
        = "¥" + @product.price.to_s + "-"
      %span.product__price--tax (税込)
      .product__price--shipping 送料込み
    - if @product.purchasedflag == '0' || @product.purchasedflag == nil
      .product__action-button--notpurchased
        = link_to "購入画面に進む", buy_sold_product_path
    - else
      .product__action-button--purchased 売り切れました
    .product__description
      = @product.description
    .button-wrapper
      .good-button
        .good-button__heart
          %i.far.fa-heart.good-button__icon
        .good-button__letter いいね！
        .good-button__count 4
      .report-button
        %i.far.fa-flag.report-button__icon
        .report-button__letter 不適切な商品の報告
      .about-safty
        %i.fas.fa-lock.about-safty__icon
        .about-safty__letter あんしん・あんぜんのへの取り組み
  .comment__wrapper
    .comment__container
      .comment__icon
      .comment__main
      .comment__time
    .comment__container
      .comment__icon
      .comment__main
      .comment__time
    .comment__container
      .comment__icon
      .comment__main
      .comment__time
    .comment__container
      .comment__icon
      .comment__main
      .comment__time
    .comment__note 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .comment__box
    .comment__sent-button コメントする
  .product-link
    .product-link__right
      .product-link__name マフラー
      %span.product-link__right-arrow >
    .product-link__left
      %span.product-link__left-arrow <
      .product-link__name 靴下
  .sns-icon
    .sns-icon__wrapper
      = image_tag "facebook-icon.png", size: "44x44", class: "sns-icon__image"
      = image_tag "twitter-icon.png", size: "44x44", class: "sns-icon__image"
      = image_tag "pintarest-icon.png", size: "44x44", class: "sns-icon__image"
  .product__title 〇〇さんのその他の出品
  .other-product_container
  .other-product__container
  .other-product__container
  .other-product__container
  .other-product__container
  .other-product__container
  .other-product__container
  .product__title 〇〇その他の商品
  .other-product__container
  .other-product__container
  .other-product__container
  .other-product__container
  .other-product__container
  .other-product__container
  .other-product__container
  = render 'shared/sell_btn'
=render "shared/banner"
=render "shared/footer"
